@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/card.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-ui-router.min.js"></script>
<script src="~/Scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>

<script src="~/angular/movie-details/app.js"></script>
<script src="~/angular/movie-details/controllers/controller.js"></script>

<div data-ng-app="app">
    <div ui-view></div>
</div>