@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/card.css" rel="stylesheet" />

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-ui-router.min.js"></script>
<script src="~/Scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>

<script src="~/angular/movie-details/app.js"></script>
<script src="~/angular/movie-details/services/service.js"></script>
<script src="~/angular/movie-details/controllers/controller.js"></script>

<script type="text/javascript">
    var userId = "@ViewBag.UserId";
</script>

<div data-ng-app="app">
    <div ui-view></div>
</div>